torch==2.1.0+cpu  # אם את משתמשת ב-GPU, תוודאי להתאים את הגרסה ל-CUDA המתאים
numpy==1.23.3
scikit-learn==1.1.2
opencv-python==4.6.0.66  # אם את עובדת עם וידאו
tqdm==4.64.0  # ספריית שורת התקדמות
pillow==9.1.0  # אם את משתמשת בעיבוד תמונות
